[Unit]
Description=Huawei iBMC Fan Speed Controller

[Service]
Type=oneshot
ExecStart=/bin/bash {TARGETDIR}/fancontrol.sh
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
